@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* GLOBAL */

html, body {
    font-size: 16px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url("/Pictures/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: 0;
    height: 100%;
    margin: 0;
    position: relative;
    min-height: 100%;
}

* {
    margin: 0;
}

.container {
    padding: 0;
    width: 100%;
    background: #f4f4;
    text-align: center;
    background: rgba(255,255,255,.6);
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

/* HEADER STARTS HERE*/

#landing-page {
}

#main-front {
    border-bottom: 2px solid black;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background: rgba(255,255,255,.3);
}

/* HEADER TEXT STARTS HERE */

#main-front h1 {
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    font-family: 'Cobblestone';
    text-shadow: -1.5px 0 black, 0 2px black, 1.5px 2px black, 0 -1px black;
    margin: 0 auto;
    color: #fff;
    padding: 0 5px 0 5px;

}

#main-front h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    font-family: 'Cobblestone';
    text-shadow: -2px 0 black, 1px 1.5px black, 2px 1px black, 0 -1px black;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    display: inline-block;
}

hr {
    border-color: black;
    background: #fff;
    width: 50px;
    height: 50px;
    display: inline;
    margin: 0 10px;
}

/* THE NAV STARTS HERE */

nav {
    margin: 0 auto;
}

nav h3 {
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.15rem;
    font-family: cobblestone;
    text-shadow: -1px 0 #ccc, 0 1px black, 1px 0 #ccc, 0 -1px #ccc;
    padding: 0;
    margin: 0;
    margin: 15px 0 10px 0;
    
}

nav ul {
    margin: 0 auto;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: -1.5px 0 rgba(0,0,0,0.7), 0 1.5px rgba(0,0,0,0.7), 1.5px 0 rgba(0,0,0,0.7), 0 -1.5px rgba(0,0,0,0.7);
    font-family: 'Arial Black';
    letter-spacing: 4px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    transition: ease 0.25s;
    border-radius: 20px;
    border-bottom: 5px solid rgba(0,0,0,0.6);
    border-top: 5px solid rgba(0,0,0,0.6);
    border-left: 5px solid rgba(0,0,0,0.6);
    border-right: 5px solid rgba(0,0,0,0.6);
    border-right: 5px solid rgba(0,0,0,0.6);
    background: rgba(255,255,255,0.3);
}

nav ul a:hover {
    padding: 5px;
    background: rgba(255,255,255,0.3);
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    transition: ease .25s;
    border: 5px solid rgba(0,0,0,0.8);
    
}
nav ul li {
    margin-bottom: 1rem;
    padding: 20px;
}

/* SOCIAL MEDIA STARTS HERE*/

#social-media {
    padding: 0;
    margin: 0 auto;
    margin-top: 30px;
}

#social-media img {
    padding: 0 15px;
    margin: 0 10px;
}

section img:hover {
    background: rgba(255,255,255,0.3);
    border-radius: 15px;
}

section p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}


/* FOOTER STARTS HERE */

footer {
    color: black;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: darkblue;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fff;
}

footer h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem
}

footer, .push {
    min-height: 35px;
    max-height: 45px;
    
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px;
}

/* PAGES START HERE */

#about-me {
    position: relative;
    border: 2px solid black;
    padding: .7rem;
    margin: 10px 0;
    align-content: center;
    top: auto;
}